@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Roboto:wght@300;400;700;900&display=swap');
.App {
  text-align: center;
}

.List {
  display: flex;
  column-gap: 5px;
  
}


/*html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  background-color: #0000;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(20, 20, 20);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*-----------NAVBAR-----------*/
/*.navbar {
  align-items: initial;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

.nav-links {
  display: inline-flex;
  list-style: none;
}

.nav-item:hover, .nav-item2:hover {
  text-decoration: underline;
  color: rgb(240, 240, 240);
}

.nav-item2 a {
  border-radius: 6px;
  background-color: rgb(240, 240, 240);
  font-weight: bold;
  color: rgb(190,30,80);
}

/*-----------MAIN CONTENT-----------*/
/*.welcome-text {
  font-size: larger;
  display: grid;
  grid-column: auto;
  margin: auto;
  margin-top: 12%;
  color: white;
}

.heading1 {
  font-family: Kalam, cursive;
  font-size: 40px;
}

.text1 {
  color: white;
}

#mainemail {
  background-color: rgb(240,240,240);
  border-color: rgb(240,240,240);
  display: flex;
  height: 50px;
  margin-right: 5px;
  outline: none !important;
  box-shadow: none !important;
}

#signupbtn {
  height: 50px;
  padding: 0.5rem 1.6rem;
  border-color: rgb(125, 20, 50);
  background-color: rgb(190,30,80);
  outline: none !important;
  box-shadow: none !important;
}

#signupbtn:hover {
  height: 50px;
  border-color: rgb(125, 20, 50);
  background-color: rgb(125, 20, 50);;
}

@media (max-width:1025px) {
  #inputemail {
    width: 100%;
  }

  #signupbtn {
    margin-top: 5px;
    width: 99%;
  }
}

.container {
  display: flex;
  background-color: rgb(240,240,240);
  width: 50%;
}

footer {
  text-align: center;
  margin-top: 0 !important;
  color: rgb(240,240,240);
}

.mt-auto {
  margin-top: auto !important;
}

footer ul {
  padding: 0;
}

footer ul li {
  display: inline-block;
  margin: 0 1em;
}

footer ul li a {
  color: rgb(240, 240, 240);
}

footer ul li a:hover {
  color:rgb(240,240,240);
  text-decoration: none;
}*/