.cardcontainer {
  overflow: visible;
  min-height: 80;
  min-width: 272;
  padding: 6px, 8px, 2px;
}

.textArea {
  resize: none;
  width: 100%;
  outline: none;
  border: none;
  padding-bottom: 50px;
  border-radius: 5px;
}

.buttons {
  display: flex;
  align-items: center;
  margin: 0;
}

.addButton {
  background-color: #429b30;
  border: 0;
}

.addButton:hover {
  background-color: #5dc449;
  border: 0;
}

.xButton {
  margin-left: 5px;
}
