@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Roboto:wght@300;400;700;900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(90deg, rgb(100,20,70), rgb(190,30,80));
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  margin-top: -2px;
}

h5, p {
  color: #212529;
}

.form-group {
  padding: 5%;
  background-image: linear-gradient(0deg, rgb(220,220,220), rgb(255,255,255));
  border-radius: 10px;
}

#fullname, #inputemail, #inputpass, #verifypass {
  padding: 0px;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  margin-bottom: 35px;
  border-radius: 0px;
  border-color: rgb(125, 125, 125);
  background-color: inherit;
  box-shadow: none !important;
  }

  #fullname:focus, #inputemail:focus, #inputpass:focus, #verifypass:focus {
  border-color: rgb(190,30,80);
  transition: border-color 1s ease-in-out,box-shadow .45s ease-in-out;
  }

#button {
  background-color: rgb(95, 95, 95);
  border-color: rgb(95, 95, 95);
  cursor: default;
}

#button:enabled {
  background-color: rgb(106, 213, 138);
  border-color: rgb(106, 213, 138);
}

@media (min-width:1025px) {
  #container {
    width: 50%;
  }
}

.container {
  display: flex;
  background-color: white;
  width: inherit;
}

footer {
  text-align: center;
  margin-top: 0 !important;
  color: white;
  width: 100%;
}

.mt-auto {
  margin-top: auto 1im
}

footer ul {
  padding: 0;
}

footer ul li {
  display: inline-block;
  margin: 0 .4em;
}

footer ul li a {
  color: rgb(255, 255, 255);
}

footer ul li a:hover {
  color:rgb(255,255,255);
  text-decoration: none;
}
