@import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400;500;600;700;800&display=swap');

body {
  margin: 0;
  font-family: 'Baloo Paaji 2', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(100, 20, 70);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  background-color: rgb(100, 20, 70);
}
.nav-item:hover {
  text-decoration: underline;
  color: white;
}

.nav-item2 a {
  border-radius: 7px;
  background-color: white;
  font-weight: bold;
  color: rgb(100, 20, 70)
}
