@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Roboto:wght@300;400;700;900&display=swap');

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(90deg, rgb(100,20,70), rgb(190,30,80));
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  margin-top: 3px;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  background-image: linear-gradient(90deg, rgb(100,20,70), rgb(190,30,80));
}

.nav-item:hover {
  text-decoration: underline;
  color: white;
}

.nav-item2 a {
  border-radius: 6px;
  background-color: white;
  font-weight: bold;
  color: rgb(190,30,80);
}

.welcome-text {
  font-size: larger;
  display: grid;
  grid-column: auto;
  margin: auto;
  margin-top: 12%;
  color: white;
}

.heading1 {
  font-family: Kalam, cursive;
  font-size: 40px;
}

#inputemail {
  background-color: rgb(255,255,255);
  border-color: rgb(255,255,255);
  display: flex;
  height: 50px;
  margin-right: 5px;
  outline: none !important;
  box-shadow: none !important;
}

#signupbtn {
  height: 50px;
  padding: 0.5rem 1.6rem;
  border-color: rgb(106, 213, 138);
  background-color: rgb(106, 213, 138);
  outline: none !important;
  box-shadow: none !important;
}

#signupbtn:hover {
  height: 50px;
  border-color: rgb(110, 185, 138);
  background-color: rgb(110, 185, 138);
}

@media (max-width:1025px) {
  #inputemail {
    width: 100%;
  }

  #signupbtn {
    margin-top: 5px;
    width: 99%;
  }
}

.container {
  display: flex;
  background-color: white;
  width: 50%;
}

footer {
  text-align: center;
  margin-top: 0 !important;
  color: white;
}

.mt-auto {
  margin-top: auto 1im
}

footer ul {
  padding: 0;
}

footer ul li {
  display: inline-block;
  margin: 0 .4em;
}

footer ul li a {
  color: rgb(255, 255, 255);
}

footer ul li a:hover {
  color:rgb(255,255,255);
  text-decoration: none;
}
